<div class="container funding-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Account Info</h1>
      <p>Name: <%= @user.name if @user.name %></p>
      <p>Email: <%= @user.email if @user.email %></p>
      <% @user.bank_accounts.each do |f| %>
        <hr>
        <p>Account ID: <%= f.account_id %></p>
        <p>Funding Pending Amount: $<%= f.funding_pending_amount %></p>
        <p>Public Token: <%= f.plaid_public_token %></p>
        <p>Access Token: <%= f.plaid_access_token %></p>
      <% end %>
    </div>
  </div>
</div>
